
= form_for @servicelisting, :html => { :multipart => true }, :validate => true do |form|

	%table
		%tr
			%td{:colspan => 4, :id => 'textLabel'}= form.text_field :title, :class => 'sTextFieldEffect'

		%tr
			%td{ :id => 'textLabel'} Description
			%td{ :id => 'textLabel'}= form.text_area :description, :class => 'sTextAreaEffect'

		%tr
			%td{ :id => 'textLabel'} Availability 
			%td{ :id => 'textLabel'}= form.text_field :availability, :class => 'textFieldEffect'

		%tr
			%td{ :id => 'textLabel'} Buy Pirce 
			%td{ :id => 'textLabel'}= form.text_field :buyPirce, :class => 'textFieldEffect'

		%tr
			%td{ :id => 'textLabel'} Min Bid Price
			%td{ :id => 'textLabel'}= form.text_field :minBidPrice, :class => 'textFieldEffect'

		%tr
			%td{ :id => 'textLabel'} No Of Guest Allowed 
			%td{ :id => 'textLabel'}= form.select :noOfGuest, options_for_select([[1, 1], [2, 2],[3, 3], [4, 4],[5, 5], [6, 6]])		

		%tr
			%td{ :id => 'textLabel'} Status
			%td{ :id => 'textLabel'}
				= form.radio_button :status, "active", :checked => 'checked' 
				= form.label "Active"
				= form.radio_button :status, "inactive"
				= form.label "Inactive"	
		
		%tr
			%td{ :id => 'textLabel'} Image
			%td{ :id => 'textLabel'}= form.file_field :photo, :class => 'textFieldEffect'

	.actions
		= form.button :submit, :value => "POST SERVICE", :class => "sRegister"
		
		
		
:javascript
$(document).ready(function() {
	$("#servicelisting_availability").click(function(){
		$("#servicelisting_availability").datepicker({
				dateFormat: 'dd-mm-yy'
		});
	});	
});




