%h1 Listing servicelistings

%table
  %tr
    %th Title
    %th Description
    %th Availability
    %th Buypirce
    %th Minbidprice
    %th Noofguest
    %th Status
    %th Hightestbid
    %th
    %th
    %th

  - @servicelistings.each do |servicelisting|
    %tr
      %td= servicelisting.title
      %td= servicelisting.description
      %td= servicelisting.availability
      %td= servicelisting.buyPirce
      %td= servicelisting.minBidPrice
      %td= servicelisting.noOfGuest
      %td= servicelisting.status
      %td= servicelisting.hightestBid
      %td= link_to 'Show', servicelisting
      %td= link_to 'Edit', edit_servicelisting_path(servicelisting)
      %td= link_to 'Destroy', servicelisting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Servicelisting', new_servicelisting_path
