= simple_form_for @bar do |form|

  -if @bar.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@bar.errors.count, "error")} prohibited this #{Bar.name.titleize} from being saved:"
      %ul
        - @bar.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :name, :label => 'Name'
  = form.input :owner, :label => 'Owner'
  = form.input :phone, :label => 'Phone'
  = form.input :city, :label => 'City'
  = form.input :website, :label => 'Website'
  = form.input :location, :label => 'Location'

  .actions
    = form.button :submit